AssignmentFive/EmployeeClient/Service References/EmployeeReference/EmployeeService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="EC.WCFLABB3B" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="EC.WCFLABB3B" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="EC.WCFLABB3B/Imports">
      <xsd:import schemaLocation="http://localhost:12317/EmployeeService.svc?xsd=xsd0" namespace="EC.WCFLABB3B" />
      <xsd:import schemaLocation="http://localhost:12317/EmployeeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
      <xsd:import schemaLocation="http://localhost:12317/EmployeeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12317/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AssignmentFive" />
      <xsd:import schemaLocation="http://localhost:12317/EmployeeService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_GetEmployeeByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByID" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeByID_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q1:FaultException" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_SaveEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_SaveEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_SaveEmployee_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q2:FaultException" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="GetEmployeeByID">
      <wsdl:input wsaw:Action="EC.WCFLABB3B/IEmployeeService/GetEmployeeByID" message="tns:IEmployeeService_GetEmployeeByID_InputMessage" />
      <wsdl:output wsaw:Action="EC.WCFLABB3B/IEmployeeService/GetEmployeeByIDResponse" message="tns:IEmployeeService_GetEmployeeByID_OutputMessage" />
      <wsdl:fault wsaw:Action="EC.WCFLABB3B/IEmployeeService/GetEmployeeByIDFaultExceptionFault" name="FaultExceptionFault" message="tns:IEmployeeService_GetEmployeeByID_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <wsdl:input wsaw:Action="EC.WCFLABB3B/IEmployeeService/SaveEmployee" message="tns:IEmployeeService_SaveEmployee_InputMessage" />
      <wsdl:output wsaw:Action="EC.WCFLABB3B/IEmployeeService/SaveEmployeeResponse" message="tns:IEmployeeService_SaveEmployee_OutputMessage" />
      <wsdl:fault wsaw:Action="EC.WCFLABB3B/IEmployeeService/SaveEmployeeFaultExceptionFault" name="FaultExceptionFault" message="tns:IEmployeeService_SaveEmployee_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>