NorthwindService/ShipperClient/Service References/NwService/ShipperService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EC.WCFLABB3" elementFormDefault="qualified" targetNamespace="EC.WCFLABB3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1901/ShipperService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NorthwindService" />
  <xs:element name="GetShipperByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipperByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NorthwindService" minOccurs="0" name="GetShipperByIDResult" nillable="true" type="q1:Shipper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShipper">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShipperResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>